html,body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    border-bottom-color: beige;
    width: 100%;
    height: 100%;
    font-family: serif;
}
header{
    margin: 2px;
    padding: 0;
    border: .2rem solid lightgray;
    width: 100%;
    height: 80px;
    font-size: 18px;
    
    
}

#top_bar{
    width: 100%;
    background-color:#fff;
    height: 100%;
    text-transform: uppercase;
    
    
}
#burger{
    margin: 0;
    padding: 0;
    width:calc(100%/3);
    background-color:#fff;
    float: left;
    height: 80%;
    line-height: 4;
    color: grey;
    
    
}
#hamburger{
    visibility: hidden;
    width: 0;
    height: 0;
}

#img_title{
    margin: 0;
    padding: 0;
    width: calc(100%/3);
    background-color: #fff;
    float: left;
    height: 80%;
}
#title{
    width:200px;
    display: block;
    margin: 0 auto;
    padding: 0;
    
}

#app{
    margin:0;
    padding: 0;
    width: calc(100%/3);
    background-color:#fff;
    float: right;
    text-align: right;
    height: 80%;
    line-height: 60px;
    margin-right: px;
   
}

#signin{
    margin: 0;
    padding: 0;
    width: calc(60%/2);
    background-color:#fff;
    float: right;
    height: 100%;
    background-color: #3fa87e;
    text-align: center;
    
}
#one{
    color:#fff;
    text-decoration: none;
    
}
#login{
    margin: 0;
    padding: 0;
    width: calc(60%/2);
    background-color: #fff;
    float: right;
    height: 100%;
    text-align: center;
}
#log{
    color:grey;
    text-decoration: none;
}

.small{
    width: 0px;
    height: 0px;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    margin-top:50px;
    padding: 0;
    
}

.main_body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 630px;
    position: relative;
    background-image: url("http://i.imgur.com/RtIG5AV.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    background-size:100%;
    
}
/*begining of the section*/
#middle_section{
    position: absolute;
    top:200px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

#quote{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size:32px;
    text-align: center;
    text-transform: capitalize;
    font-family: serif bold;
    font-weight: bold;
    color: #fff;
}
input{
    margin: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color:#fff;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    text-align: center;


}
button{
    margin: -10px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #3fa87e;
    border-style: none;
    
}
#plans{
    font-size: 20px;
    color:#fff;
    letter-spacing: 2px;
    text-decoration: none;
}

#bottom_nav{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40px;
    float: left;
    border-bottom: .5px solid grey;
    
}
nav>ul{
    margin: 0;
    padding: 0;
    width: 100%;
    
}
nav>ul>li{
    display: inline;
    margin: 0;
    padding: 0;
    width:calc(100%/6);
    text-transform: uppercase;
    float: left;
    letter-spacing: .8px;
    text-align: center;
    
}
#bottom_li{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family:sans-serif;
}

#bottom_li:hover{
    color:#3fa87e;
}

#ref_media{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40px;
    float: right;
    border-bottom: .5px solid grey;
    
    
}
#tel{
    font-size: 18px;
    float: right;
    width: calc(50%/2);
    letter-spacing: .8px;
    margin-right: 55px;
    
}

#email{
    font-size: 18px;
    float: right;
    width: calc(50%/2);
    letter-spacing: 1px;
    margin-right: 20px
}
#a_tel{
    text-decoration: none;
    color: black;
    
}
#a_tel:hover{
    color:#3fa87e;
}
#footer_left{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 40px;
    float: left;
    font-family:sans-serif; 

}
#bottom_left{
    margin-top: 20px;
    width:calc(60%/4);
    float: left;
    text-align: center;
    text-transform: uppercase;
    
}
.bottom_left{
     margin-top: 10px;
    width:calc(60%/4);
    float: left;
    text-align: center;
    text-transform: uppercase;
    color: orangered;
    font-weight: bold;
    font-size: 30px;
}
#a_left{
    text-decoration: none;
    color: black;
    font-size: 14px;
    
}
#a_left:hover{
    color:#3fa87e;
}
#social_icons{
   width: 50%;
    float: left;
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 5px;
    text-align: right;  
}

@media only screen and (max-width:42rem){
    #lrg_main{
        display: none;
    }
    #main_body{
        display: none;
    }
    header{
        width: auto;
        height: 60px;
        margin-bottom: 50px;
        
    }
    #top_bar{
        
    }
    #login{
        visibility: hidden;
        width: 0;
        height: 0;
        
    }
    #signin{
        width:50%;
        height: 60px;
        line-height: 60px;
    }
    #hamburger{
        visibility: visible;
        width: 50px;
        height: 60px
    }
    #explore{
        visibility: hidden;
    }
    #title{
        height: 50px;
        max-width: 130px;
        margin-top: 10px;
        
    }
    .small{
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("http://i.imgur.com/hMMn5w1.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    background-size:100%;
    
}
   #middle{
    position: absolute;
    top:200px;
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}

#words{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size:28px;
    text-align: center;
    text-transform: capitalize;
    font-family: serif bold;
    font-weight: bold;
    color: #fff;
}
    input{
        width: 150px;
        
    }
    #aval{
    margin: -15px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #3fa87e;
    border-style: none;
    }
    
    #plans_small{
    font-size: 20px;
    color:#fff;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
}
    #bottom_nav{
        width: 100%;
        float: left;
        margin-top: 5px;
        height: 20px;
        border:none;
}
    nav>ul>li{ 
        width: calc(100%/5);
       
        
       
    }
    #ref_media{
         width: 100%;
        float: left;
        border: none;

    }
    #tel{
        float: left;
        width: 50%;
        text-align: center;
    }
    #email{
        margin-top: 5px;
        text-align: center;
        float: right;
        width: 50%
    }
    #social_icons{
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
        top: -60px;
    }
    #footer_left{
        width:100%;
        float: left;
        text-align: center;
        position: relative;
        top: 30px;
        
    }
    .bottom_left{
        margin-left: 60px;
    }
    #bottom_left{
        width:calc(100%/5);
        float: left;
        
    }
    
    
}

@media only screen and (max-width:78rem){
    .main_body{
        background-size: cover;
        
    } 
    #bottom_nav{
        width: 100%;
      
    }
    nav>ul>li{
        text-align: center;
        width: calc(100%/5);
        margin-top: 10px;
    }
    #ref_media{
        width: 100%;
        float: left;
        margin-top: 10px;
        border: none;
        position: relative;
    }
    #tel{
        
        text-align: center;
    }
    #email{
        margin-top: 5px;
        width: 50%
    }
    #bottom_left{
        width:calc(100%/4);
    }
    
    #social_icons{
       
    }
}

/*
@media only screen and (max-width:78rem){
     #lrg_main{
        width: 100%;
         height: 500px;
         margin-top: 5px;
    }
    #main_body{
        width: 100%;
        
    }
     header{
        width: auto;
        height: 60px;
        margin-bottom: 50px;
        
    }
    #top_bar{
        
    }
    #burger{
        line-height: 3;
    }
    
    #title{
        width: 80%;
    }
    #app{
        height: 100%;
    }
    #middle_section{
        width: 100%;
        position: absolute;
    }
    #quote{
        position: relative;
        top: -150px;
        font-size: 25px;
    }
    input{
        position: relative;
        top: -170px;
        width: 120px;
        margin: 20px;
        padding: 15px;
        padding-left: 80px;
        padding-right: 80px;
        background-color:#fff;
        color: grey;
        font-weight: bold;
        font-size: 14px;
        text-align: center;   
    }
    button{
        margin:0;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: #3fa87e;
        border-style: none;
        position: relative;
        top: -180px;
    
}
    #plans{
        font-size: 16px;
        color:#fff;
        letter-spacing: 2px;
        text-decoration: none;
}
    
    footer{
        height: 150px;
        position: relative;
        top: -120px;
    }
    #bottom_nav{
        width: 100%;
        float: left;
        height: 20px;
        border:none;
        position: relative;
        top: 10px;
}
    nav>ul>li{ width: calc(100%/5);
       
        
       
    }
    #ref_media{
         width: 100%;
        float: left;
        border: none;
        position: relative;
        top: 20px;
    }
    #tel{
        float: left;
        width: 50%;
        text-align: center;
    }
    #email{
        margin-top: 5px;
        text-align: center;
        float: right;
        width: 50%
    }
    #social_icons{
        width: 100%;
        float: left;
        text-align: center;
        position: relative;
        top: -40px;
    }
    #footer_left{
        width:100%;
        float: left;
        text-align: center;
        position: relative;
        top: 40px;
        
    }
    .bottom_left{
        margin-left: 60px;
    }
    #bottom_left{
        width:calc(100%/5);
        float: left;
        
    }
    
}
*/
@media only screen and (max-width:98rem){
    
}

@media only screen and (max-width:130rem){
    
}